*{

    padding: 0px;
    margin: 0px;
}

.body{

    /* border: 2px solid black; */
    height: 2800px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#box1{

    border: 2px solid black;
    width: 22%;
    height: 530px;
    margin-top: 20px;
    background-color: whitesmoke;
}

#box1 img{

    width: 270px;
    height: 250px;
    padding-top: 30px;
    padding-bottom: 20px;
}

#content{

    /* border: 2px solid blue; */
    width: 100%;
    height: 200px;
    line-height: 1.7;

}
 #content p:nth-child(1){

    /* border: 2px solid yellow; */
    height: 80px;
    width: 100%;
 }